body
{
    font-size: 40px;
    font-family: ' Arial, sans-serif';
    padding: 40px;
    background-color: rgb(8, 7, 7);
    /*border: 2px solid black; /* Ajoute une bordure 
    border-radius: 5px;      Arrondit les coins de la bordure */
   
}
.container 
{
    position: relative; 
}

.square
{
    border: 300px solid rgb(60, 59, 59);
    background-color: rgb(60, 59, 59);;
    border-radius: 10px;
}
.name
{
    color: white;
    position: absolute;
    top: 10px; /* Distance de 10 pixels depuis le haut du conteneur */
    left: 10px; /* Distance de 10 pixels depuis la droite du conteneur */
    font-size: 60px;
}
.img
{
   Left:20px;
}