/* sources.css */

body {
    font-size: 20px; /* Réduire la taille de police pour qu'elle soit plus proportionnée */
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: rgb(5, 5, 5);
    color: white; /* Changer la couleur du texte pour qu'il soit lisible sur le fond noir */
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    border-radius: 20px;
}
.logo img {
    height: 75px; /* Ajuster la hauteur de l'image du logo */
    width: 75px; /* Ajuster la largeur de l'image du logo */
    border-radius: 50%; /* Ajouter un border-radius pour rendre l'image circulaire */
    border: 3px solid #333; /* Ajouter une bordure autour de l'image */
}
nav {
    padding: 10px 20px; /* Ajuster le padding de la navigation */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px; /* Ajuster l'espacement entre les éléments de la liste */
    margin-top: 0px;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333; /* Couleur des liens */
}
nav ul li a:hover {
    color: #007bff; /* Couleur au survol */
}
.wrapper img {
    height: 250px;
    weight: 250px;
    padding: 20px;
    margin: 30spx;
    border-radius: 50%;
}
.wrapper p
{
    
    padding: 10px;
    margin:100px;
}